<div class="card-container">
  <div class="float-layout">
    <div class="card-image">
      <img src="../../../assets/{{attivita?.type}}.png">

      <div class="card">
        <div class="card-title">{{attivita?.activity}}</div>
        <div class="card-desc">
          <table>
              <tr>
                <td>Partecipanti</td>
                <td>{{attivita?.participants}}</td>
              </tr>
              <tr>
                <td>Prezzo</td>
                <td>{{attivita?.price}}</td>
              </tr>
              <tr>
                <td>Accessibilità</td>
                <td>{{attivita?.accessibility}}</td>
             </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button btn btn-lg (click)="ritorna()">Torna alla home</button> -->
<button btn btn-lg [routerLink]="['/activity']">Torna alla home</button>
